nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e2e2e2;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.icone-carrinho {
    width: 50px;
    height: 50px;
}

.boas-vindas {
    text-align: center;
}

.card {
    border-radius: 10px !important;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card-img-top {
    height: 300px;
    border-radius: 10px !important;
}

.titulo {
    margin-top: 100px;
    text-align: center;
}

#user {
    font-weight: 600;
}